.slick-dots {
    bottom: -2rem;
  }
  
  .slick-dots li {
    margin: 0 0.5rem;
  }
  
  .slick-dots li button:before {
    display: none;
  }
  
  .slick-prev, .slick-next {
    z-index: 10;
    width: 40px;
    height: 40px;
  }
  
  .slick-prev {
    left: 1rem;
  }
  
  .slick-next {
    right: 1rem;
  }
  
  .slick-prev:before, .slick-next:before {
    font-size: 40px;
  }